.container {
  max-width: 1442px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}

.ibg {
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
