.search {
    width: calc((100% / 3) - 10px);
    padding: 30px 48px;
    background-color: #ffffff;
    height: 100%;
}

.formGroup {
    margin-bottom: 15px;
}

.dateWrapper {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input {
    width: 100%;
    padding: 8px;
    border: 2px solid #407BFF;
    border-radius: 4px;
}

.btn {
    display: block;
    width: 100%;
    background-color: #0000ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.btn:hover {
    background-color: #407BFF;
}

@media (max-width: 991px) {
    .search {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .dateWrapper {
        flex-direction: column;
    }
}