.close-icon-container {
    position: absolute;
    right: 10px;
    top: 0;
}

.close-icon {
    cursor: pointer;
}

.form-container {
    width: 40%;
    position: relative;
    top: 10vh;
}

.form-container form {
    width: 80%;
}