@import "../../assets/scss/vars";

.container {
  background: #F2F7FF;
  min-height: 100vh;
  margin-bottom: 250px;
}

.product_list {
  width: 65%;
  margin: 0 auto;
  padding: 0 10px;
  padding-bottom: 40px;

  @media (min-width: $x_mobile) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
  }

  li {
    &:not(:last-child) {
      padding-bottom: 10px;
    }

    @media (min-width: $x_mobile) {
      flex: 0 1 calc(100% / 2 - 5px);
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    @media (min-width: $xs_mobile) {
      flex: 0 1 calc(100% / 3 - 7px);
    }

    @media (min-width: $tablet) {
      flex: 0 1 calc(100% / 4 - 8px);
    }
  }
}
