.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #407BFF;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: 'Museosanscyrl', sans-serif;
}

.modalContent {
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 300px;
  text-align: center;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.headText {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    padding: 10px;
    border: 1px solid #ccc;
    font-family: 'Museosanscyrl', sans-serif;
  }
}

.oAuthButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  border: 2px solid #007bff;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  background-color: white;
  padding: 0 10px;
  box-sizing: border-box;
}

.oAuthButton svg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-top: 0;
}

.orContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #CCE5F7;
  margin: 0 10px;
}

.orText {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}

.switchButtons button {
  padding: 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

.activeButton {
  color: #407BFF;
  font-weight: bold;
  text-decoration: underline;
}

.inactiveButton {
  color: #000000;
}

.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordInput {
  width: 100%;
  padding-right: 40px;
}

.passwordToggle {
  position: absolute;
  right: -5px;
  top: 40%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.passwordToggle svg {
  width: 20px;
  height: 20px;
}

.forgotPassword {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
  cursor: pointer;
}

.singIn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #1919D3;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'Museosanscyrl', sans-serif;
  height: 40px;
  margin-top: 30px;
}

.singIn button {
  all: unset;
  color: white;
  font-family: 'Museosanscyrl', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.singIn button:hover {
  background-color: #0056b3;
}

.termsAgreement {
  color: #000000;
  font-size: 10px;
}

.termsAgreementLink {
  color: #1919D3;
  cursor: pointer;
}
