@import "../../assets/scss/vars";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 17.5%;
  background-color: #407bff;

  .logo a {
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border: 1px solid white;

  }

  .auth {
    display: flex;
    gap: 10px;

    button {
      padding: 5px 10px;
      background-color: #407bff;
      color: white;
      border: 1px solid white;
      border-radius: 2px;
      cursor: pointer;


      &:hover {
        background-color: #0056b3;
      }
    }
  }
}