.footer {
  background-color: #407BFF;
  padding: 50px 17.5%;
}

.footerContent {
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.footerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerInfo {
  color: #CCE5F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerInfo p{
  font-size: 12px;
}

.column {
  flex: 1;

  nav {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      color: #fff;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        color: #FBBC04;
      }
    }
  }
}

.logo a {
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  font-family: 'Caviar Dreams', sans-serif;
}
.socialIcons {
  display: flex;
  gap: 20px;
}

.icon {
  width: 24px;
  height: 24px;
}
