.footer {
  background-color: #407BFF;
  color: #fff;
  padding: 50px 17.5%;
  text-align: left;
}

.footerContent {
  max-width: 1250px;
  height: 273px;
  gap: 30px;
}

.footerNav {
  height: 156px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerInfo {
  color: #CCE5F7;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerInfo p{
  font-size: 12px;
  margin: 10px 0;
}

.column {
  flex: 1;

  nav {
    display: flex;
    flex-direction: column;

    a {
      color: #fff;
      font-size: 16px;
      margin: 10px 0;
      text-decoration: none;

      &:hover {
        color: #FBBC04;
      }
    }
  }
}

.logo a {
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  font-family: 'Caviar Dreams', sans-serif;
}
.socialIcons {
  display: flex;
  gap: 20px;
}

.icon {
  width: 24px;
  height: 24px;
}
