.container {
  background-color: #F2F7FF;
  display: flex;
  justify-content: space-between;
}

.leftContainer {
  margin-left: 15%;
  flex: 1;
  width: 40%;
}

.rightContainer {
  margin-right: 15%;
  flex: 1;
  width: 40%;
}

.containerElement {
  position: relative;
  background-color: white;
  margin: 10px;
  padding: 20px;
}

.imageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  background-color: white;
}

.imageContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.imageNavButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: 2px solid #407BFF;
  font-size: 24px;
  padding-left: 9px;
  padding-right: 9px;
  cursor: pointer;
  box-sizing: border-box;
  height: 40px;
  margin: 5px;
}

.flippedArrow {
  transform: translateY(-50%) scaleX(-1); 
}


.imageNavButton:first-child {
  left: 0;
}

.imageNavButton:last-child {
  right: 0;
}

.productDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #F2F7FF;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

  p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #666;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .productLocation,
  .productStatus {
    font-size: 16px;
    color: #888;
  }
}


.publishinDate {
  color: #7889A5;
}

.goodsName {
  color: black;
  font-size: 25px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;

}

.goodsPrice{
  color: red;
  font-size: 20px;
  font-weight: bold;
}


.goodsDeposit{
  margin-top: 20px;
}

.goodsDepositPrice {
  color: black;
  font-weight: bold;
}

.likeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageButton {
  width: 100%;
  height: 30px;
  background-color: #407BFF;
  margin-top: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: white;

}

.phoneNumberButton {
  width: 100%;
  height: 30px;
  background-color: white;
  margin-top: 5px;
  border: 2px solid #407BFF;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.imageIndicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #7889A5;
  margin: 0 5px;
  cursor: pointer;
}

.activeIndicator {
  background-color: #CCE5F7;
  border: none;
}
